
pre {
  background:#fff;
  border:0px;
  border-left:1px dashed #e3e3e3;
  width: 100%;
  white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;  
}

.menu-message {
  max-height: 650px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.menu-message > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}

.menu-message > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.menu-message > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}

.menu-message > li > a > .ion {
  width: 20px;
}

.menu-message > li > a {
  margin: 0;
  padding: 10px 10px;
}

.menu-message > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
  border:1px solid #cecece;
}

.menu-message > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}

.menu-message > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-message > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.menu-message > li > a:before,

.menu-message > li > a:after {
  content: " ";
  display: table;
}
.menu-message > li > a:after {
  clear: both;
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}